{{> menu id="about"}}

<section class="ui center aligned middle aligned two column grid segment">
    <div class="column">
        <header class="ui header"> BMI Tracker </header>
        <p> Fill in your assessments week by week and track your BMI.
            Trainers will comment on your progress and encourage your to keep going!</p>
    </div>
    <div class="column">
        <img src="https://image.freepik.com/free-vector/fitness-1-silhouettes_39690-223.jpg"style="width:428px;height:428px;">
    </div>
</section>